<img src="..//assets/portal.gif" width="1360" height="150">
<div class="header">
  <h1>Customer Service Page</h1>
</div>
<div class="row">
  <div class="column side">
    <h2>Online Certificates</h2>
    <form action="/action_page.php">
      <label for="fname">Certification Number:</label><br>
      <input type="text" id="fnumber" name="fnumber" value="105251"><br>
      <label for="lnumber">Mobile Number:</label><br>
      <input type="text" id="lnumber" number="lnumber" value="+91-7815810024"><br><br>
      <label for="lnumber">OTP:</label><br>
      <input type="text" id="lnumber" number="lnumber" value="******"><br><br>
      <input type="submit" value="Submit">
    </form> 
  </div>
  
  <div class="column middle">
    <h2>Suggestions&Gravience</h2>
    <div>
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        
    
        <label for="country">State</label>
        <select id="State" name="State">
          <option value="andhra Pradesh">Andhra Pradesh</option>
          <option value="Telangana">Telangana</option>
          <option value="tamilnadu">Tamilnadu</option>
          <option value="kerala">Kerala</option>
        </select><br>
      
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  
  <div class="column side">
    <h2>Online Registration</h2>
    <form action="/action_page.php">
      <label for="fname">Registration Number:</label><br>
      <input type="text" id="fnumber" name="fnumber" value="105251"><br>
      
      <label for="lnumber">OTP:</label><br>
      <input type="text" id="lnumber" number="lnumber" value="******"><br><br>
      <form>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
      </form> 
      <input type="submit" value="Submit">
    </form> 
    
  </div>
</div>
<footer>
  <p>
    AP State Portal
    General Administration Department
    India Gov
    Contact | Copyright | Hyperlinking | Terms and Conditions |<p> Privacy policy
    © 2021 Government of Andhra Pradesh. ***All rights reserved***.</p>
</footer>
