
<img src="..//assets/portal.gif" width="1360" height="150">
<div class="container">
  
  
    <h2>Welcome to Meeseva Portal:-</h2>
  <section>
    <nav>
      <ul>
        <img src="..//assets/About-Chart.png" width="290" height="380">
      </ul>
    </nav>
    
    <article>
      <p>“MeeSeva” in Telugu means, ‘At your service’, i.e. service to citizens. It is a good governance initiative that ncorporates the vision of National eGov Plan “Public Services Closer to Home” and facilitates single entry portal for entire range of G2C& G2B services.
        The objective of MeeSeva is to provide smart, citizen centric, ethical, efficient and effective governance facilitated by technology. The initiative involves universal and non-discriminatory delivery of all government services to citizens & Businessmen of all strata and improved efficiency, transparency and accountability for the government. The initiative features transformed government-citizen interface at all levels of administration along with a shared governance model.
        The Project brings in a digital PKI enabled integrated architecture through multiple service delivery points by fusing in the various pre-existing state initiatives with the Mission-mode Projects like State Data Center (SDC), State Wide Area Network (SWAN) and Common Service centers (CSCs) of the National eGovernance Plan (NeGP) of Government of India.
        Mee Seva adopts the concept of central pooling of all Land records, Registration records and records of Socio-economic survey, digitally signing them with the digital signature certificates of the authorized officer, storing them in the database and rendering them using a web-service. All the documents rendered are digitally signed and electronically verifiable making them tamper proof. The project brings in strict adherence to citizen charter time limits and ushers in a whole new paradigm of across the counter services to ostensibly work flow services through massive porting and bulk signing of databases.</p>   
    </article>
  </section><br>
  
  <footer>
    <p>
      AP State Portal
      General Administration Department
      India Gov
      Contact | Copyright | Hyperlinking | Terms and Conditions | Privacy policy
      © 2021 Government of Andhra Pradesh. All rights reserved.</p>
  </footer>
  





